# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site
.devcontainer
.jekyll-metadata
.DS-Store
.sass-cache
Thumbs.db
*.log

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
#assets/js/dist
_site/
.obsidian
